body {
 font-family: 'Lato', sans-serif;
padding: 0;
margin: 0;
}
nav {
    background-color:  rgb(110, 0, 153);
    color: white;
    padding: 10px 30px; 
    
}
.navtop{
  display: flex;
  align-items: center; 
  justify-content: space-between;


}
.seach{   
    display: flex;
     align-items: center;
    background-color: rgb(226, 223, 223);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

}
.searchinput {   
  background-color: transparent;
  border: none;


}
.searchinput::placeholder {
    color: rgb(52, 52, 53);
 
}
.ofertalimitada {
    font-size: 20px;
    border-bottom: 2px Solid rgb(228, 241, 40);
    cursor: pointer;
}
.navbotton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px;
    cursor: pointer;
    font-weight: 400;

}
.menuitem {
    margin: 10px;
    cursor: pointer;
    font-weight: 300;

}
.sliderimg{
        justify-content: center;
        padding: 100px;
        width: 400px;
        height: 50vw;
        border-radius: 10px;
    }
.slider {
   background: rgb(253, 136, 57) no-repeat;
  
   /*clip-path: polygon(0 0, 100% 0, 100% 93%, 0 81%);*/

}

.sliderwrapper{
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}
.slideritem {
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
position: relative;

}
.sliderBg{ 
    background-color: rgb(136, 10, 185);
      width: 600px;
    height: 550px; 
    border-radius: 50%;
    position: absolute;
    box-shadow: rgba(206, 206, 102, 0.4) 5px 5px, rgba(236, 236, 208, 0.3) 10px 10px, rgba(172, 95, 145, 0.2) 15px 15px, rgba(250, 225, 145, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}
.sliderimg{
    z-index: 1;
}
.slidertitle {
    position: absolute;
    top: 23%;
    right: 7%;
    font-size: 50px;
    font-weight: 900;
    color: rgb(240, 248, 255);
    text-shadow: 2px 2px 5px rgb(96, 22, 146);
    z-index: 1;

}
.slideprice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    color: aliceblue;
    z-index: 1;


}
.buybutton{
    position: absolute;
    top: -auto;
    right: 8%;
    font-size: 30px;
    font-weight: 900;
    color: aliceblue;
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
    background-color: rgb(17, 18, 19);
    border-radius: 8px;
    border: none;
}
.buybutton:hover {
    background-color: white;
    color: rgb(12, 13, 14);

}

.features{    
    display: flex;   
    flex-direction: column;
    align-items: center; 
    position: relative;
 
   
}
.feature{
    display: flex;       
    flex-direction: column;     
    align-items: center;
    text-align: center;

}
 .fogueteicon{
    flex-direction: row;  
        width: 50px;
        height: 50px;   

    }

 .foguetetitle{
    
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    color: green;
     }

        .foguetedescrição {
            color: rgb(53, 52, 52);
            width: 50%;
            height: 100px;
        }
